{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-4.6.0/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/fontawesome-6.1.1/css/all.min.css' %}"/>
    <script src="{% static 'lib/bootstrap-4.6.0/js/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-4.6.0/js/popper.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-4.6.0/js/bootstrap.min.js' %}"></script>
    <style>
        body {
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        }

        .text-product {
            font-size: 25px;
        }
    </style>
</head>
<body>

<div class="container-fluid px-0">
    <div class="jumbotron text-center">
        <h1><i class="fas fa-barcode"></i> Escaneo de código de producto</h1>
        <p>Sube una imagen o usa la cámara para escanear el código de barras de tu producto.</p>
    </div>
    <div class="px-4">
        <div class="row justify-content-center">
            <div class="col-lg-8" style="padding: 0;">
                <div class="card p-3">
                    <div class="form-group">
                        <label class="font-weight-bold">Escaneador de productos:</label><br>
                        <input type="file" id="file-input" accept="image/*" capture="environment">
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <b>Detalles del Producto</b>
                        </div>
                        <ul class="list-group list-group-flush text-product">
                            <li class="list-group-item"><b>Nombre:</b> <span id="name"></span></li>
                            <li class="list-group-item"><b>Categoría:</b> <span id="category"></span></li>
                            <li class="list-group-item"><b>Precio de Compra:</b> <span id="price"></span></li>
                            <li class="list-group-item"><b>Precio de venta:</b> <span id="pvp"></span></li>
                            <li class="list-group-item"><b>Stock:</b> <span id="stock"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/moment-with-locales.js' %}"></script>
<script src="{% static 'lib/jquery-confirm-3.3.4/js/jquery-confirm.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/jquery-confirm-3.3.4/css/jquery-confirm.min.css' %}"/>
<script src="{% static 'lib/sweetalert2-11.0.16/js/sweetalert2.all.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/sweetalert2-11.0.16/css/sweetalert2.min.css' %}"/>
<script src="{% static 'lib/jquery-loading-overlay-2.1.7/js/loadingoverlay.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'lib/quagga-0.12.1/js/quagga.min.js' %}"></script>
<script type="application/javascript">
    $(function () {
        $("#file-input").change(function (event) {
            let file = event.target.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    scanBarcode(e.target.result);
                };
                reader.readAsDataURL(file);
            }
        });

        function scanBarcode(src) {
            Quagga.decodeSingle({
                src: src,
                numOfWorkers: 0,
                decoder: {readers: ["ean_reader", "code_128_reader", "upc_reader"]}
            }, function (result) {
                if (result && result.codeResult) {
                    var params = new FormData();
                    params.append('action', 'search_product_id');
                    params.append('term', result.codeResult.code);
                    var args = {
                        'params': params,
                        'success': function (request) {
                            $('#name').html(request.name);
                            $('#category').html(request.category.name);
                            $('#price').html(request.price);
                            $('#pvp').html(request.pvp);
                            $('#stock').html(request.stock);
                        }
                    };
                    execute_ajax_request(args);
                } else {
                    message_error('No se detectó ningún código de barras');
                }
            });
        }
    });
</script>
</body>
</html> 